<div class="content">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (submit)="login();">
        <mat-form-field appearance="fill">
          <mat-label>Email Address</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="emailBox" required>
          <mat-error *ngIf="emailBox.invalid">{{getEmailValidationMessage()}}</mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" [disabled]="emailBox.invalid" (click)="login();" mat-button>LOGIN</button>
    </mat-card-actions>
  </mat-card>
</div>