<div class="content">
  <mat-card class="profile-card">
    <mat-card-header>
      <mat-card-title>{{ _userService.user.displayName }}</mat-card-title>
      <mat-card-subtitle>{{ _userService.user.email }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="profile-picture">
        <img src="https://www.gravatar.com/avatar/{{ _userService.user.userId }}?s=512"/>
      </div>
      <form [formGroup]="profileForm" (submit)="update();">
        <mat-form-field appearance="fill">
          <mat-label>Display Name</mat-label>
          <input matInput placeholder="{{ _userService.user.displayName }}"
                 value="Hello"
                 [formControl]="displayNameBox" required>
          <mat-error *ngIf="displayNameBox.invalid">{{getDisplayNameValidationMessage()}}</mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="anyInvalid()" (click)="update();" mat-button>UPDATE DETAILS</button>
      <a mat-button href="https://en.gravatar.com/emails/" target="_blank">
        CHANGE PROFILE PICTURE
      </a>
    </mat-card-actions>
  </mat-card>
</div>